The first data set we'll work on is the recorded videoed behaviors of female polar bears in the around the Beaufort Sea.

In [48]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/amandamichelle27/IS362-Project2/master/PolarBear_video-derived_behaviors_southernBeaufortSea_2014_2016_revised.csv')
df.head()

,Bear,Datetime_behavior_starts,Datetime_behavior_ends,Behavior,Comments
0,1,4/7/2014 16:00:22,4/7/2014 16:01:12,laying,moving head
1,1,4/7/2014 17:49:07,4/7/2014 17:49:57,rolling in snow,"shaking head, adult male present in distance"
2,1,4/7/2014 17:50:53,4/7/2014 17:51:31,rolling in snow,"shaking head, adult male present in distance"
3,1,4/7/2014 17:51:31,4/7/2014 17:51:53,walking,through rubble (away from adult male)
4,1,4/7/2014 17:52:53,4/7/2014 17:53:53,sitting or standing,NaN

First, I will check to see if any data is missing and access if there is missing data, if it is important. I will do that by using .isnull

In [49]:
df.isnull().sum()

Bear                            0
Datetime_behavior_starts        0
Datetime_behavior_ends          0
Behavior                        0
Comments                    18860
dtype: int64

Missing comments is not necessarily a bad thing for data, so next I will look at all of the different types of unique entries in the behavior colum.

In [50]:
df["Behavior"].unique()

array(['laying', 'rolling in snow', 'walking', 'sitting or standing',
       'mixed', 'interacting', 'standing', 'running',
       'running and walking', 'sitting or laying', 'eating snow',
       'grooming', 'digging', 'unknown', 'adjusting', 'head shake',
       'pouncing', 'breaking into liar', 'smelling snow', 'catches seal',
       'carrying carcass', 'eating', 'swimming', 'standing ', 'breeding',
       'jumping', 'crawling through ice cavern',
       'sticking head out of water', 'sticking head into water',
       'moving ice', 'hauling out of water', 'rubbing', 'standing up',
       'biting seal'], dtype=object)

Here we learn a few different things. First we see that one of the entry types under behaviour is "unkown", essentially missing data. We also see that there are entries that are basically repeats such as "standing", "standing ", and "sitting or standing". 

Our next step will be to anyalyze the "unkown" entries, to see if the data is usable or not. If not we will get rid of it.

In [51]:
df[df["Behavior"] == "unknown"].head()

,Bear,Datetime_behavior_starts,Datetime_behavior_ends,Behavior,Comments
429,1,4/8/2014 19:02:23,4/8/2014 19:03:23,unknown,lens covered with snow/ice
470,1,4/8/2014 20:24:23,4/8/2014 20:25:23,unknown,"adult male in view, head movement"
505,1,4/8/2014 21:34:03,4/8/2014 21:34:33,unknown,likely grooming
520,1,4/8/2014 22:04:03,4/8/2014 22:04:33,unknown,NaN
554,1,4/8/2014 23:12:03,4/8/2014 23:12:33,unknown,NaN

We see that when the behavior entry is "unkown" the data is pretty much useless, so we will remove it.

In [52]:
df = df[df.Behavior != "unkown"]

After we have removed the "unkown" entries, we now need to do some further cleaning up by changing all of the repeating entries into one entry form. For any entry that contains an "or" or an "and", the behavior entry will be changed to "mixed" instead. To fix the issue with "standing" vs "standing ", any entry containing "standing" will be changed to "standing".

In [53]:
def clean(behavior):
    if " or " in behavior or " and " in behavior:
        return "mixed"
    if "standing" in behavior:
        return "standing"
    return behavior
df.Behavior = df.Behavior.apply(clean)
df.groupby("Behavior")["Behavior"].count()

Behavior
adjusting                       4163
biting seal                        2
breaking into liar                 4
breeding                          54
carrying carcass                  57
catches seal                       2
crawling through ice cavern        1
digging                          715
eating                           749
eating snow                      248
grooming                         542
hauling out of water               1
head shake                      1545
interacting                      387
jumping                           10
laying                         15614
mixed                           8893
moving ice                         2
pouncing                         190
rolling in snow                  945
rubbing                           34
running                          257
smelling snow                    383
standing                          98
sticking head into water           1
sticking head out of water         2
swimming                         279
unknown                          914
walking                         5906
Name: Behavior, dtype: int64

After the data has been cleaned, we have grouped the behaviors by entry and how counted how many times each unique entry was recorded within the data. By doing this it is easy to tell which behaviors were performed most often.