The third set of data we'll look was posted by Neil and details a baseball card collection and contains information on each card such as player name, position, year, and condition of the card.

In [3]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/neal-rogers/baseball-card-inventory/2a14350e7b11e5fdb43ca877db4c17a8a9b15e4e/data/cards.csv")
df.head()

   UID           PLAYER POSITION  BRAND  CID  YEAR  CONDITION  SOLD  VALUE
0    1      Tom Lasorda      MGR  Topps  254  1989       GOOD   NaN    NaN
1    2  Sparky Anderson      MGR  Topps  609  1990  EXCELLENT   NaN    NaN
2    3      Jose DeLeon        P  Topps   85  1992  EXCELLENT   NaN    NaN
3    4   Cris Carpenter        P  Topps  147  1992  EXCELLENT   NaN    NaN
4    5      RJ Reynolds       RF  Score  273  1991  EXCELLENT   NaN    NaN

First we will check for any missing values that might hinder accessment of any kind.

In [5]:
df.isnull().sum()

UID            0
PLAYER         0
POSITION       0
BRAND          0
CID            0
YEAR           0
CONDITION      0
SOLD         198
VALUE        198
dtype: int64

In [7]:
df.shape

(198, 9)

From here we see that neither the "Sold" or "Value" colum has any entries at all. Although we don't need to get rid of the colums for computing purposes, since we are cleaning up the data we will go ahead and get rid of those.

In [8]:
df.drop(["SOLD", "VALUE"], axis=1, inplace=True)
df.head()

   UID           PLAYER POSITION  BRAND  CID  YEAR  CONDITION
0    1      Tom Lasorda      MGR  Topps  254  1989       GOOD
1    2  Sparky Anderson      MGR  Topps  609  1990  EXCELLENT
2    3      Jose DeLeon        P  Topps   85  1992  EXCELLENT
3    4   Cris Carpenter        P  Topps  147  1992  EXCELLENT
4    5      RJ Reynolds       RF  Score  273  1991  EXCELLENT

Now that the unnecessary colums are gone and the data is a bit more tidy, we'll look at finding the number of unique player positions in the collections.

In [10]:
df["POSITION"].unique()

array(['MGR', 'P', 'RF', 'C', 'OF', '2B', 'SS', '1B', 'SS-2B', '3B',
       'OF-DH', 'OF-1B', '2B-SS', 'CF', 'IF', 'RP', 'IF-OF', '3B-SS',
       '2B-OF', '2B-3B', '1B-OF', '1B-3B'], dtype=object)

In [14]:
df["POSITION"].unique().size

22

We don't have any duplicates, so our total of unique positions is 22. Next we can look at which postition in the collection is most common.

In [11]:
df.groupby("POSITION")["POSITION"].count()

POSITION
1B        2
1B-3B     2
1B-OF     2
2B        8
2B-3B     1
2B-OF     1
2B-SS     1
3B       10
3B-SS     2
C        11
CF        2
IF        1
IF-OF     1
MGR      11
OF       36
OF-1B     3
OF-DH     1
P        85
RF        1
RP        2
SS       13
SS-2B     2
Name: POSITION, dtype: int64

This presents us with the number of cards that have each postion in the collection. In this collection, the most common position is "P" or Pitcher. 

Another thing we can do is check to see if the collection has any duplicate cards.

In [21]:
df.duplicated().sum()

0

In [ ]:
To be a collection of baseball cards, surprisingly there are no duplicates.